doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(href="/style.css")
  body
    h1 Simple Program
    input#nums(type="text" autofocus=true, placeholder="enter some thit")
    button#add Sum
    span#sum 
    h2 Odds 
    span#oddtotals
    ul#odds
    h2 Evens
    span#eventotals
    ul#evens
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
