
#colors{
  border: 1px solid red;
  border-radius: 10px;
  min-height:25px;
  margin-top: 25px;
  background-color:#cccccc;
}

.box, #selected{
  width:25px;
  height:25px;
  display: inline-block;
  border: 1px solid black;
  margin:10px;
}

#selected{
  display: block;
}

#canvas{
  font-size:0;
}


.tiny{
  width:10px;
  height:10px;
  display: inline-block;
}
