
#colors{
  border: 1px solid red;
  border-radius: 10px;
  min-height:25px;
  margin-top: 25px;
  background-color:#cccccc;
}

.box{
  width:25px;
  height:25px;
  display: inline-block;
  border: 1px solid black;
  margin:10px;
  
}
